<!-- 丝带背景特效 -->
<script size="300" alpha="0.6" zindex="-1" src="https://cdn.jsdelivr.net/npm/ribbon.js@1.0.2/dist/ribbon.min.js"></script>

<!-- 点击鼠标烟花特效 -->
<script async src="/js/fireworks.js"></script>

<!-- 打字震动与彩字特效 -->
<script src="/js/activate-power-mode.min.js"></script>
<script>
  POWERMODE.colorful = true;
  POWERMODE.shake = false; 
  document.body.addEventListener("input", POWERMODE);
</script>

<!-- 底部随机彩色文字跳动特效 (binft) -->
<script>
  var binft = function(r){
    function n(t){
      for(var e=document.createDocumentFragment(),r=0;r<t;r++){
        var n=document.createElement("span");
        n.textContent=String.fromCharCode(94*Math.random()+33);
        n.style.color=d[Math.floor(Math.random()*d.length)];
        e.appendChild(n)
      }
      return e
    }
    var i="";
    var l=["人生在勤，不索何获","一个伪IT技术型骨灰级米粉","日日待明日,万事成蹉跎","丈夫志四海，万里犹比邻","还在看这里吗？","能不能别看了？","文章更精彩...."];
    var a=2,g=1,o=5,b=75;
    var d=["rgb(110,64,170)","rgb(150,61,179)","rgb(191,60,175)","rgb(228,65,157)","rgb(254,75,131)","rgb(255,94,99)","rgb(255,120,71)","rgb(251,150,51)","rgb(226,183,47)","rgb(198,214,60)","rgb(175,240,91)","rgb(127,246,88)","rgb(82,246,103)","rgb(48,239,130)","rgb(29,223,163)","rgb(26,199,194)","rgb(35,171,216)","rgb(54,140,225)","rgb(76,110,219)","rgb(96,84,200)"];
    var f={text:"",prefixP:-o,skillI:0,skillP:0,direction:"forward",delay:a,step:g};
    !function t(){
      var e=l[f.skillI];
      f.step?f.step--:(f.step=g,f.prefixP<i.length?(0<=f.prefixP&&(f.text+=i[f.prefixP]),f.prefixP++):"forward"===f.direction?f.skillP<e.length?(f.text+=e[f.skillP],f.skillP++):f.delay?f.delay--:(f.direction="backward",f.delay=a):0<f.skillP?(f.text=f.text.slice(0,-1),f.skillP--):(f.skillI=(f.skillI+1)%l.length,f.direction="forward"));
      r.textContent=f.text;
      r.appendChild(n(f.prefixP<i.length?Math.min(o,o+f.prefixP):Math.min(o,e.length-f.skillP)));
      setTimeout(t,b)
    }()
  };
  var ele = document.createElement("div");
  ele.id = "binft";
  document.querySelector(".site-description").appendChild(ele);
  binft(document.getElementById("binft"));
</script>
