// 这里的 CSS 选择器享有最高的编译优先级，专门用来应对强制性的外观调整
.post-block,
.main-inner,
.header-inner,
.sidebar-inner,
.sidebar {
  border-radius: 15px !important;
}

// 标签与按钮保持一定的圆润度
.btn {
  border-radius: 5px !important;
}
