// 圆角设置
$border-radius-inner = 15px 15px 15px 15px;
$border-radius       = 15px;

// 保证整体风格的统一圆润
.post-block {
  border-radius: $border-radius-inner !important;
}

.sidebar {
  border-radius: $border-radius-inner !important;
}

.header-inner {
  border-radius: $border-radius-inner !important;
}
